.red {
    background-color: rgb(180, 100, 100);
}
.yellow {
    background-color: rgb(180, 180, 100);
}
.green {
    background-color: rgb(100, 180, 100);
}
.turquoise {
    background-color: rgb(100, 180, 180);
}
.blue {
    background-color: rgb(100, 100, 180);
}
.pink {
    background-color: rgb(180, 100, 180);
}